if typeof errors != 'undefined'
  each error in errors
    .alert.alert-warning.alert-dismissable.fade.show(role="alert")
      span #{error.msg}
      button(type="button" class="close" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") &times;

if success_msg != ''
  .alert.alert-success.alert-dismissable.fade.show(role="alert")
    span #{success_msg}
    button(type="button" class="close" data-dismiss="alert" aria-label="Close")
      span(aria-hidden="true") &times;

if error_msg != ''
  .alert.alert-warning.alert-dismissable.fade.show(role="alert")
    span #{error_msg}
    button(type="button" class="close" data-dismiss="alert" aria-label="Close")
      span(aria-hidden="true") &times;

if error != ''
  .alert.alert-warning.alert-dismissable.fade.show(role="alert")
    span #{error}
    button(type="button" class="close" data-dismiss="alert" aria-label="Close")
      span(aria-hidden="true") &times;