include includes/head.pug 
.container 
  .row 
    .col.text-center.pt-5
      h1 Dashboard
      p.lead Here is where Jenny's cool app will help her with her art lessons... eventually.
include includes/scripts.pug